<!DOCTYPE html>
<html>
    <head>
        <title>Album: {{ artist }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    </head>


    <body>
        <center>
        <div class="content">
            
            {% if artist %}
            <h1> Album: {{ artist }}</h1>
            {% endif %}
            {% if b %}
            <p> The Album Name is Wrong. Please Return
            {% endif %}
            {% if url %}
            <a href="/songs?album={{url}}"> Songs in this album</a>
            <br>
            <a href="/songsVal?album={{url}}"> Songs Whose Valence Larger than 0.8</a>
            <br>
            <a href="/songs/plot?album={{url}}"> Valence vs. Energy</a>
            {% endif %}
            <br>
            <br>
            <br>
            <a href = "/">Back to Home</a>
        </div>
        </center>
    </body>
    <center>
        <footer>
        <br><br><br><br>
        <p>All rights reserved by CHEN SUN</p>
        </footer>
    </center>
</html>