<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Title of the web page -->
        <title>HomePage</title>
        <!-- Let's add a bit of styling to make it look pretty -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    </head>


    <body>
        <center>
        <div class="content">
            
            <label>
                <h1>Artists in Current Database</h1>
                <p style = "color: rgba(139, 28, 212, 0.836)"> (Order by Popularity in descending order) </p>
                {% if artists %}
                <table style="width:25%">
                    <tr>
                        <th align="left">Artists</th>
                        <th>Popularity</th>
                    </tr>
                    {% for i in artists %}
                    <tr>
                        <td>{{i[0]}}</td>
                        <td align="center">{{i[1]}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </label>
            <br><br>
            <form action="/info" method="GET">
                <label>
                    <b>Select an artist</b>
                    <input name="artist_name" type="text" placeholder="Start typing..." />
                </label>
                <button type="submit">Input</button>
            </form>
            
            <p class="response">
                {% if album_choices %}
                    <b>Tadah</b>
                {% endif %}
            </p>
        </div>
        </center>
    </body>
    <center>
        <footer>
        <br><br><br><br>
        <p>All rights reserved by CHEN SUN</p>
        </footer>
    </center>
</html>