<!DOCTYPE html>
<html>
    <head>
        <title>Lyrics: {{ song }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <center>
        <div class="content">
            {% if song %}
            <h1>
                Song : {{ song }}
            </h1>
            {% endif %}

            {% if lyrics %}
            <h2> Lyrics </h2>
                <p style="white-space: pre-line"> {{lyrics[0][0]}} </p>
            {% endif %}
            <pre>
-------------------------------------------------------------------------------------------------------------------------------------
            </pre>
            <a href = '/'>Back to Home</a>
        </div>
        </center>
    </body>
    <center>
    <footer>
        <br><br><br><br>
         <p>All rights reserved by CHEN SUN</p>
    </footer>
    </center>
</html>

