<!DOCTYPE html>
<html>
    <head>
        <title> Albums:{{ album }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <center>
        <div class="content">
            {% if album %}
            <h1>
                {{ album }} : Valence vs. Energy
            </h1>
            {% endif %}

            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            {{ plot|safe }}
            <pre>
-------------------------------------------------------------------------------------------------------------------------------------
            </pre>

            <a href = '/album/info?album={{album}}'>Back to {{album}}</a>
        </div>
        </center>
    </body>
    <center>
    <footer>
        <br><br><br><br>
         <p>All rights reserved by CHEN SUN</p>
    </footer>
    </center>

</html>

